<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Boletins</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header>
    <h1>Boletins</h1>
</header>
<div class="container">
    {% if boletins %}
        <ul>
            {% for boletim in boletins %}
                <li>{{ boletim.disciplina }} - Nota: {{ boletim.nota }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum boletim encontrado para os parâmetros fornecidos.</p>
    {% endif %}
</div>
</body>
</html>
